<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Northwest Labs</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/firestorm.css">
    <script src="~/Scripts/JavaScript/firestorm.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @Html.ActionLink("Northwest Labs", "Index", "Lab", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Receive Order", "UnderConstruction", "Home")</li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Manage Orders
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DisplayTests", "Lab")">Schedule Test</a></li>
                            <li><a href="@Url.Action("UnderConstruction", "Home")">Test Queue</a></li>
                            <li><a href="@Url.Action("UnderConstruction", "Home")">Upload Results</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Operation Forecasts
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("OperForecast", "Lab")">Work Orders in Transit</a></li>
                            <li><a href="@Url.Action("UnderConstruction", "Home")">Tests in Transit</a></li>
                            <li><a href="@Url.Action("UnderConstruction", "Home")">Required Materials</a></li>                
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Manage Tickets", "ManageTickets", "Lab")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Northwest Labs Pharmaceutical</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
